!!!
html
    head
        title WebRage
        link(rel='stylesheet', href='styles.css')

    body
        div
        | good news, everyone ! <br />
        | now you're all reading this in my voice.