!!!
html
  head
    title WebRage
    link(rel='stylesheet', href='styles.css')

  body
    h1 
      | Web
      span.rage Rage
    .main
      .goto.left
      .logo
        - for(i=0; i<100; i++)
          .cube

      .goto.right
      .socials
        a.twitter-follow-button(href='https://twitter.com/twitter', data-show-count='false', data-size='large') Follow @twitter
        script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


    script(src='scripts.js')
