@import url('http://fonts.googleapis.com/css?family=Bangers')

red = #F03A0C
backgroundColor = #F0D10C

logofont()
  font-family 'Bangers', 'Trebuchet MS', 'Impact', 'Helvetica', 'Arial', sans-serif
  -webkit-font-smoothing antialiased
  font-style normal
  font-weight 400

*
  box-sizing border-box
html
body
  margin 0
  padding 0
  color #333
  background backgroundColor

h1
  logofont()
  font-size 5em
  margin 0 0 0.2em
  text-align center
  text-shadow 5px 5px 0 darken(backgroundColor, 5)
  .rage
    font-size 1.2em
    color red
    margin-left 0.05em
    display inline-block
    -webkit-transform rotate(-5deg)
    transform rotate(-5deg)

.main
  position relative
  margin 0 auto
  max-width 1000px
  padding-bottom 5em
.socials
  text-align center
.goto
.logo
  display inline-block
  vertical-align top

.logo
  width 62.5%
  position relative
  background #fff
  border 1px solid darken(backgroundColor, 3)
  border-bottom 5px solid darken(backgroundColor, 3)
.goto
  position relative
  cursor pointer
  width 18.75%
  min-height 30em
  font-family 'Impact', sans-serif
  color red
  &:active
    color darken(red,10)
  &.left:after
  &.right:after
    font-size 5em
    top 50%
    left 40%
    line-height 0
    position absolute
    transition all 0.1s
  &.left:after
    content '<'
  &.right:after
    content '>'
  &.left:hover:after
    left: 37%
  &.right:hover:after
    left: 43%

.logo
  position relative
.cube
  float left
  width 10%
  background url('images/angular.png') center center
  transition all 0.2s
  &:before
    content ''
    display block
    height 0
    padding-bottom 100%
  &.hidden
    animation falling 5s
    visibility hidden

@keyframes falling
  0% 
    opacity 0.9
    margin-bottom 0
  10%    
    margin-bottom 5px
  100% 
    opacity 0
    margin-top 100%
