@import url('http://fonts.googleapis.com/css?family=Bangers')

html
  margin 0
  padding 0
body
  color #333

h1
  font-family 'Bangers', 'Impact', 'Helvetica', 'Trebuchet MS'
  font-size 5em
  margin 0 0.2em
  -webkit-font-smoothing antialiased
  font-style normal
  font-weight 400
  .rage
    font-size 1.2em
    color #F03A0C
    margin-left 0.05em
    display inline-block
    -webkit-transform rotate(-5deg)
    transform rotate(-5deg)